/** 
Nature Connect :
	Sarah E.
	Rebeca R.
	Elizabeth H.M.
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
    text-align: center;
    color: white;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}



footer {
    background-color: #4CAF50;
    text-align: center;
    padding: 10px 0;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}